<div class="d-xl-flex flex-row">
  <div class="flex-row-auto w-xxl-275px mb-5">
    <div class="card card-custom card-stretch">
      <div class="card-body px-5">
        <div class="navi-section mb-2 font-size-h6 font-weight-bold pb-0 d-flex">
          <span>{{ 'TITLE.filter' | translate }}</span>
          <i class="flaticon2-console ml-auto"></i>
        </div>
        <div class="navi navi-hover navi-active navi-link-rounded navi-bold navi-icon-center navi-light-icon">
          <!--begin:Item-->
          <div *ngFor="let item of typeData" class="navi-item my-2">
            <a (click)="onSelectType(item.name)" [ngClass]="{'active': item.name === type}" href="#" class="navi-link">
              <span class="navi-text font-weight-bolder font-size-lg">
                {{ 'RESPONSE.' + item.name | translate }}
              </span>
            </a>
          </div>
          <!--end:Item-->
        </div>
      </div>
    </div>
  </div>
  <div class="flex-row-fluid ml-xl-8" *ngIf="user$ | async as user">
    <div class="card card-custom gutter-b mb-0">
      <div class="card-header">
        <div class="card-title">
          <h3 class="card-label">{{ 'TITLE.tasks_list' | translate }}</h3>
        </div>
      </div>
      <div class="card-body p-0">
        <!-- begin:Table -->
        <div class="custom-table-wrap custom-table-wrap-task">
          <div class="custom-table-loading-shade"
               *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>

          <div class="custom-table-container">
            <mat-table [dataSource]="task$" class="custom-table" matSort
                       matSortActive="created_at" matSortDisableClear matSortDirection="desc"
                       (matSortChange)="resetPaging()">

              <!-- title Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> {{ 'TABLE.title' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mb-mat-header-cell">{{ 'TABLE.title' | translate }}</span>
                  <a href="{{ row.link }}" target="_blank">
                    {{ row.name }}
                  </a>
                </mat-cell>
              </ng-container>

              <!-- receive Column -->
              <ng-container matColumnDef="receive">
                <mat-header-cell *matHeaderCellDef> {{ 'TABLE.receive' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mb-mat-header-cell">{{ 'TABLE.receive' | translate }}</span>
                  <span>
                    {{ row.receive }} <img width="18" src="./assets/media/svg/customs/coin.svg" alt="">
                  </span>
                </mat-cell>
              </ng-container>

              <!-- remaining Column -->
              <ng-container matColumnDef="remain">
                <mat-header-cell *matHeaderCellDef>{{ 'TABLE.remaining' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mb-mat-header-cell">{{ 'TABLE.remaining' | translate }}</span>
                  {{ row.remain }}/{{ row.budget || 0 }}
                </mat-cell>
              </ng-container>

              <!-- status Column -->
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> {{ 'TABLE.status' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mb-mat-header-cell">{{ 'TABLE.status' | translate }}</span>
                  <span class="label label-lg label-inline"
                        [class.label-light-primary]="row.status === 0"
                        [class.label-light-success]="row.status === 1"
                        [class.label-mute]="row.status === 2">
                    <ng-container *ngIf="row.status == 0">{{ 'STATUS.open' | translate }}</ng-container>
                    <ng-container *ngIf="row.status == 1">{{ 'STATUS.done' | translate }}</ng-container>
                    <ng-container *ngIf="row.status == 2">{{ 'STATUS.closed' | translate }}</ng-container>
                  </span>
                </mat-cell>
              </ng-container>

              <!-- date Column -->
              <ng-container matColumnDef="created_at">
                <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'TABLE.date' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mb-mat-header-cell">{{ 'TABLE.date' | translate }}</span>
                  {{row.created_at | date: 'dd/MM/yyyy'}}
                </mat-cell>
              </ng-container>

              <!-- actions Column -->
              <ng-container matColumnDef="actionsCol">
                <mat-header-cell *matHeaderCellDef>{{ 'TABLE.actions' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span class="mb-mat-header-cell">{{ 'TABLE.actions' | translate }}</span>

                  <div [ngSwitch]="row.action_type">
<!--                    {{row.action_type | json}}-->
<!--                    {{ user.fb_access_token | json}}-->
                    <div *ngSwitchCase="'share_post'">
                      <a shareButton="facebook" [url]="row.link + '?utm_source=FanLike&utm_medium=' + user.hash_id"
                         class="btn btn-primary"
                         (click)="saveAction(row)">{{ 'RESPONSE.' + row.action_type | translate }}</a>
                    </div>
                    <div *ngSwitchCase="'join_group'">
                      <ng-container *ngIf="user.fb_access_token;else templateButtonAddToken">
                        <a [href]="row.link + '?utm_source=FanLike&utm_medium=' + user.hash_id"
                           target="_blank"
                           class="btn btn-primary" (click)="saveAction(row)">
                          {{ 'RESPONSE.' + row.action_type | translate }}
                        </a>
                      </ng-container>
                      <ng-template #templateButtonAddToken>
                        <a (click)="onOpenModalToken(modalAddToken, user)" class="btn btn-primary" href="#">
                          {{ 'RESPONSE.' + row.action_type | translate }}
                        </a>
                      </ng-template>
                    </div>
                    <div *ngSwitchDefault>
                      <a [href]="row.link + '?utm_source=FanLike&utm_medium=' + user.hash_id"
                         target="_blank"
                         class="btn btn-primary" (click)="saveAction(row)">
                        {{ 'RESPONSE.' + row.action_type | translate }}
                      </a>
                    </div>
                  </div>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>


          </div>

          <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalAddToken let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Access Token</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <ngb-alert class="text-center" [dismissible]="false">
        Get Access Token from <a href="https://m.facebook.com/composer/ocelot/async_loader/?publisher=feed"
                                 target="_blank">HERE</a>
      </ngb-alert>
      <div class="input-group">
        <textarea #accessToken class="form-control" rows="5" placeholder="Access Token"></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
            (click)="onSaveToken(accessToken.value);modal.close('Save click')">Save
    </button>
  </div>
</ng-template>
