<div class="d-flex flex-row">
  <div class="flex-row-auto offcanvas-mobile w-200px w-xxl-275px">
    <div class="card card-custom card-stretch">
      <div class="card-body px-5">
        <div class="navi-section mb-2 font-size-h6 font-weight-bold pb-0 d-flex">
          <span>Filter</span>
          <i class="flaticon2-console ml-auto"></i>
        </div>
        <div class="navi navi-hover navi-active navi-link-rounded navi-bold navi-icon-center navi-light-icon">
          <!--begin:Item-->
          <div class="navi-item my-2">
            <a [routerLink]="['/task/share-article']" routerLinkActive="active" href="#" class="navi-link">
              <span class="navi-text font-weight-bolder font-size-lg">Share Article</span>
            </a>
          </div>
          <!--end:Item-->
          <!--begin:Item-->
          <div class="navi-item my-2">
            <a [routerLink]="['/task/join-group']" routerLinkActive="active" href="#" class="navi-link">
              <span class="navi-text font-weight-bolder font-size-lg">Join Group</span>
            </a>
          </div>
          <!--end:Item-->
        </div>
      </div>
    </div>
  </div>
  <div class="flex-row-fluid ml-lg-8">
    <div class="d-flex flex-column flex-grow-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

