<div class="card card-custom mb-5">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div
            class="rounded d-flex align-items-center justify-content-between text-white position-relative ml-auto px-7 py-5 bgi-no-repeat bgi-size-cover bgi-position-center"
            style="background-image: url('/assets/media/svg/shapes/abstract-9.svg');">
          <div class="font-weight-boldest font-size-h5">TOTAL AMOUNT</div>
          <div class="text-right d-flex flex-column">
            <span class="font-weight-boldest font-size-h3 line-height-sm">$20,600.00</span>
            <!--        <span class="font-size-sm">Taxes included</span>-->
          </div>
        </div>
        <form class="mt-5" [formGroup]="form" novalidate (ngSubmit)="onSubmit()"
              [ngClass]="{'ng-was-validated-invalid': submitted}">
          
          <div class="form-group">
            <mat-radio-group formControlName="type">
              <mat-radio-button class="d-block mt-2 mr-0" value="paypal">Paypal</mat-radio-button>
              <mat-radio-button class="d-block mt-2 mr-0" value="bank">Bank Wire Transfer</mat-radio-button>
              <mat-radio-button class="d-block mt-2 mr-0" value="payoneer">Payoneer</mat-radio-button>
            </mat-radio-group>
          </div>
          
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  
  
  </div>
</div>
<div class="card card-custom mb-5">
  <div class="card-body" *ngIf="user$ | async as user">
    <!-- begin:Table -->
    <div *ngIf="data$ | async as transactions" class="table-responsive angular-bootstrap-table">
      <table
          class="table table-head-custom table-vertical-center overflow-hidden"
      >
        <thead>
        <th>
          Request date
        </th>
        <th [style.width.px]="160">
          Payment method
        </th>
        <th [style.width.px]="160">
          Amount
        </th>
        <th [style.width.px]="120">
          Status
        </th>
        <th [style.width.px]="120">
          Payout date
        </th>
        </thead>
        <tbody>
        <tr *ngFor="let item of transactions.data">
          <td></td>
          <td>{{ item.created_at | date: 'dd/MM/yyyy' }}</td>
          <td>price</td>
          <td>
              <span
                  class="label label-lg label-inline"
                  [class.label-light-primary]="item.status === 'waiting'"
                  [class.label-light-success]="item.status === 1"
                  [class.label-mute]="item.status === 2"
              >
              <ng-container *ngIf="item.status === 'waiting'">waiting</ng-container>
              <ng-container *ngIf="item.status === 1">Shared</ng-container>
              <ng-container *ngIf="item.status === 2">Closed</ng-container>
            </span>
          </td>
          <td>{{ item.updated_at | date: 'dd/MM/yyyy' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
  </div>
</div>
