<div class="card card-custom card-stretch">
    <div class="card-body" *ngIf="user$ | async as user">
        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table
                    class="table table-head-custom table-vertical-center overflow-hidden"
            >
                <thead>
                <th>
                    Title
                </th>
                <th class="text-center" [style.width.px]="100">
                    Receive
                </th>
                <th class="text-center" [style.width.px]="100">
                    Remaining
                </th>
                <th class="text-center" [style.width.px]="100">
                    Status
                </th>
                <th [style.width.px]="100">
                    Date
                </th>
                <th [style.width.px]="160">
                    Actions
                </th>
                </thead>
                <tbody>
                <tr *ngFor="let task of taskService.data$ | async">
                    <td>
                        <a class="cursor-pointer" shareButton="facebook"
                           [url]="task.link + '?utm_source=FanLike&utm_medium=' + user.hash_id"
                           (click)="saveAction(task)">
                            {{ task.name }}
                        </a>
                    </td>
                    <td class="text-center">{{ task.receive }}</td>
                    <td class="text-center">{{ task.remain }}/{{ task.budget }}</td>
                    <td class="text-center">
                        <span
                                class="label label-lg label-inline"
                                [class.label-light-primary]="task.status === 0"
                                [class.label-light-success]="task.status === 1"
                                [class.label-mute]="task.status === 2"
                        >
                        <ng-container *ngIf="task.status === 0">Open</ng-container>
                        <ng-container *ngIf="task.status === 1">Shared</ng-container>
                        <ng-container *ngIf="task.status === 2">Closed</ng-container>
                      </span>
                    </td>
                    <td>{{ task.created_at | date: 'dd/MM/yyyy' }}</td>
                    <td>
                        <a shareButton="facebook" [url]="task.link + '?utm_source=FanLike&utm_medium=' + user.hash_id"
                           class="btn btn-primary"
                           (click)="saveAction(task)">{{ 'RESPONSE.' + task.action_type | translate }}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- end: Table -->
    </div>
</div>
