<div class="card card-custom card-stretch">
  <div class="card-body" *ngIf="user$ | async as user">
    <!-- begin:Table -->
    <div *ngIf="data$ | async as dataHistories" class="table-responsive angular-bootstrap-table">
      <table
              *ngIf="dataHistories.data.length;else templateNoData"
          class="table table-head-custom table-vertical-center overflow-hidden"
      >
        <thead>
        <th>
          Type
        </th>
        <th [style.width.px]="160">
          Action at
        </th>
        <th [style.width.px]="160">
          Verify at
        </th>
        <th class="text-center" [style.width.px]="100">
          Received
        </th>
        <th [style.width.px]="100">
          IP
        </th>
        <th [style.width.px]="120">
          Status
        </th>
        </thead>
        <tbody>
        <tr *ngFor="let item of dataHistories.data">
          <td>
            {{ "RESPONSE." + item.type  | translate }}
          </td>
          <td>{{ item.created_at | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
          <td>{{ item.updated_at | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
          <td class="text-center">
            <span>
              {{ item.receive }} <img width="18" src="./assets/media/svg/customs/coin.svg" alt="">
            </span>
          </td>
          <td>{{ item.ip }}</td>
          <td>
            <span
                class="label label-lg label-inline"
                [class.label-light-warning]="item.status === 'waiting'"
                [class.label-light-success]="item.status === 'award'"
                [class.label-error]="item.status === 'error'"
            >
            <ng-container *ngIf="item.status === 'waiting'">Waiting</ng-container>
            <ng-container *ngIf="item.status === 'award'">Award</ng-container>
            <ng-container *ngIf="item.status === 'error'">Not Accept</ng-container>
          </span>
          </td>
        </tr>
        </tbody>
      </table>
      <ng-template #templateNoData>
        <div class="text-center">
          No records found
        </div>
      </ng-template>
    </div>
    <!-- end: Table -->
  </div>
</div>
