<ng-container *ngIf="user">
  <div class="card card-custom card-stretch">
    <!-- begin::Loading -->
    <ng-container *ngIf="isLoading$ | async">
      <div class="progress progress-modal">
        <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
            role="progressbar"
            style="width: 100%"
            aria-valuenow="100"
            aria-valuemin="0"
            aria-valuemax="100"
        ></div>
      </div>
    </ng-container>
    <!-- end::Loading -->
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Payment Information</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Update your payment information</span>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <!--begin::Body-->
      <div class="card-body">
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()"
              [ngClass]="{'ng-was-validated-invalid': submitted}">
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid"
                     type="text"
                     formControlName="first_name"
                     [class.is-invalid]="isControlInvalid('first_name')"
                     [class.is-valid]="isControlValid('first_name')"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid"
                     type="text"
                     formControlName="last_name"
                     [class.is-invalid]="isControlInvalid('last_name')"
                     [class.is-valid]="isControlValid('last_name')"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Phone</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid"
                     type="text"
                     formControlName="phone"
                     [class.is-invalid]="isControlInvalid('phone')"
                     [class.is-valid]="isControlValid('phone')"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
            <div class="col-lg-9 col-xl-6">
              <input class="form-control form-control-lg form-control-solid"
                     type="text"
                     formControlName="email"
                     [class.is-invalid]="isControlInvalid('email')"
                     [class.is-valid]="isControlValid('email')"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-xl-3 col-lg-3 col-form-label"></label>
            <div class="col-lg-9 col-xl-6">
              <button [disabled]="form.invalid || submitted" class="btn btn-primary btn-elevate"
                      type="submit">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
      <!--end::Body-->
    </div>
    <!--end::Form-->
  </div>
</ng-container>


